section
{
    z-index: 3;
    background-color: rgb(84, 166, 177);
    height: 100vh;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
}
.visible
{
    z-index: 3;
    background-color: rgb(124, 146, 146);
    height: 100vh;
    width: 500px;
    position: fixed;
    top: 0;
    left: 0;
}
/* .button
{
    background-color: rgb(124, 146, 146);
    border-color:  rgb(124, 146, 146);
    border-style: solid;
} */
#sidebar#visible
{
    width: 300px;
    transition: left 0.5s linear;
}
.sidebar-btn{
    /* display: inline-block; */
    vertical-align: right;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    float: right;
}
.sidebar-btn span{
    height: 2px;
    background-color:black ;
    margin-bottom: 5px;
    display: block;
}
.sidebar-btn span:nth-child(2){
    width: 75%;
}
.sidebar-btn span:nth-child(3){
    width: 50%;
}
